.left-content
  .left-content__header
    .left-content__header__box
      .left-content__header__box__name
        user
      .left-content__header__box__icon
        %i.fa.fa-edit
        %i.fa.fa-cog
  .left-content__group
    .left-content__group__name
      groupname
    .left-content__group__subtext
      message
.right-content
  .right-content__header
    .right-content__header__groupmember
      .right-content__header__groupmember__group
        group
      .right-content__header__groupmember__member
        %ul member :
        .right-content__header__groupmember__member__name
          %li name
    .right-content__header__editbtn
      edit
  .right-content__chat
    .right-content__chat__box
      .right-content__chat__box__userdate
        .right-content__chat__box__userdate__user
          user
        .right-content__chat__box__userdate__date
          date
      .right-content__chat__box__message
        %p message
    .right-content__form
      %form{class:"right-content__form__new-message"}
        .right-content__form__new-message__inputbox
          %input{class:"right-content__form__new-message__inputbox__text", placeholder:"type a message"}
          %label{class:"right-content__form__new-message__inputbox__image"}
            %label.upload-label{for: "upload-icon"}
              %i.fa.fa-picture-o
              = file_field :message, :image, id: "upload-icon", class: "right-content__form__new-message__inputbox__image__upload-label__file"
        %input{class:"right-content__form__new-message__sendbtn", type:"submit", value:"Send"}
          
  
      
         
      
      
    
    
      