.left-content
  .left-content__header
    .left-content__header__box
      .left-content__header__box__name
        user
      .left-content__header__box__icon
        %i.fa.fa-edit
        %i.fa.fa-cog
  .left-content__group
    .left-content__group__name
      groupname
    .left-content__group__subtext
      message